<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoru.qingxintutor.mapper.ForumMessageMapper">
    <sql id="tableName">
        forum_message
    </sql>

    <sql id="allColumns">
        id,
        forum_id,
        user_id,
        content,
        create_time
    </sql>

    <resultMap id="ForumMessageResultMap" type="com.yoru.qingxintutor.pojo.entity.ForumMessageEntity">
        <id property="id" column="id"/>
        <result property="forumId" column="forum_id"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="findById" resultMap="ForumMessageResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE id = #{id}
    </select>

    <select id="findByForumId" resultMap="ForumMessageResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE forum_id = #{forumId}
        ORDER BY create_time ASC, id ASC
    </select>

    <select id="findByUserId" resultMap="ForumMessageResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE user_id = #{userId}
        ORDER BY create_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (forum_id,
        user_id,
        content
        <if test="createTime != null">
            , create_time
        </if>
        )
        VALUES
        (#{forumId},
        #{userId},
        #{content}
        <if test="createTime != null">
            , #{createTime}
        </if>
        )
    </insert>

    <select id="findByWeeklyForumId" resultMap="ForumMessageResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE forum_id = #{forumId}
        AND create_time >= DATE_SUB(NOW(), INTERVAL 7 DAY)
        ORDER BY create_time ASC, id ASC
    </select>
</mapper>